body[theme="dark"] {
  background: var(--theme_dark-background-primary);
  color: var(--theme_dark-color);

  input,
  button,
  select {
    background: var(--theme_dark-background-secondary);
    border-color: var(--theme_dark-background-secondary);
    border-style: solid;
    color: var(--theme_dark-color);
  }
  button {
    transition: filter 0.3s;
  }
  button:hover {
    filter: contrast(0.8);
  }
  .navbar {
    background: var(--theme_dark-navbar-background);
    h1 {
      color: var(--theme_dark-color);
    }
  }

  &.fade-transition {
    transition: background-color 0.3s;
  }
}
