:root {
  --primary-color: #42b883;
  --secondary-color: #35495e;

  --theme_light-background-primary: #fff;
  --theme_light-background-secondary: #ededed;

  --theme_dark-background-primary: #191a1b;
  --theme_dark-background-secondary: #252627;

  --theme_light-color: #000;
  --theme_dark-color: #fff;

  --theme_light-navbar-background: var(--primary-color);
  --theme_dark-navbar-background: #252627;
}
